.navbar-content-container {
  border-radius: 20px !important;
  height: 80px !important;
}
.rounded-xl {
  border-radius: 18px !important;
}

.nav-group-label,
.nav-link > a {
  height: 50px !important;
  border-radius: 10px 30px 30px 10px !important;
}
.layout-vertical-nav {
  border-radius: 0 10px 10px 0 !important;
}
.nav-group-children * svg {
  font-size: 16px !important;
  margin-inline: 30px 10px !important;
}
.v-field__outline__start {
  border-radius: 12px 0 0 12px !important;
}
.v-field__outline__end {
  border-radius: 0 12px 12px 0 !important;
}
.btn-sweetalert {
  border-radius: 12px;
  padding: 8px 20px 8px 20px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
}

.btn-sweetalert:focus {
  box-shadow: none !important;
}

.btn-sweetalert-success {
  background-color: #28c76f !important;
  color: white !important;
}

.btn-sweetalert-error {
  background-color: #ea5455 !important;
  color: white !important;
}

.popup-sweetalert {
  border-radius: 20px !important;
  inline-size: 30rem !important;
}
.popup-sweetalert-dark {
  background-color: rgba(21, 32, 51, 255) !important;
  color: rgb(235, 232, 232) !important;
}

.icon-sweetalert-question {
  border-color: #0083db !important;
  color: #0083db !important;
}
.ql-toolbar.ql-snow {
  border-radius: 12px 12px 0 0;
}
.ql-container {
  min-height: 50vh;
  border-radius: 0 0 12px 12px;
}
.mapdiv {
  border-radius: 12px !important;
}
