@media only screen and (max-width: 768px) {
  .wm-100 {
    width: 100% !important;
  }
  .fsm-1 {
    font-size: 1px !important;
  }
  .fsm-2 {
    font-size: 2px !important;
  }
  .fsm-3 {
    font-size: 3px !important;
  }
  .fsm-4 {
    font-size: 4px !important;
  }
  .fsm-5 {
    font-size: 5px !important;
  }
  .fsm-6 {
    font-size: 6px !important;
  }
  .fsm-7 {
    font-size: 7px !important;
  }
  .fsm-8 {
    font-size: 8px !important;
  }
  .fsm-9 {
    font-size: 9px !important;
  }
  .fsm-10 {
    font-size: 10px !important;
  }
  .fsm-11 {
    font-size: 11px !important;
  }
  .fsm-12 {
    font-size: 12px !important;
  }
  .fsm-13 {
    font-size: 13px !important;
  }
  .fsm-14 {
    font-size: 14px !important;
  }
  .fsm-15 {
    font-size: 15px !important;
  }
  .fsm-16 {
    font-size: 16px !important;
  }
  .fsm-17 {
    font-size: 17px !important;
  }
  .fsm-18 {
    font-size: 18px !important;
  }
  .fsm-19 {
    font-size: 19px !important;
  }
  .fsm-20 {
    font-size: 20px !important;
  }
  .fsm-21 {
    font-size: 21px !important;
  }
  .fsm-22 {
    font-size: 22px !important;
  }
  .fsm-23 {
    font-size: 23px !important;
  }
  .fsm-24 {
    font-size: 24px !important;
  }
  .fsm-25 {
    font-size: 25px !important;
  }
  .fsm-26 {
    font-size: 26px !important;
  }
  .fsm-27 {
    font-size: 27px !important;
  }
  .fsm-28 {
    font-size: 28px !important;
  }
  .fsm-29 {
    font-size: 29px !important;
  }
  .fsm-30 {
    font-size: 30px !important;
  }
  .fsm-31 {
    font-size: 31px !important;
  }
  .fsm-32 {
    font-size: 32px !important;
  }
  .fsm-33 {
    font-size: 33px !important;
  }
  .fsm-34 {
    font-size: 34px !important;
  }
  .fsm-35 {
    font-size: 35px !important;
  }
  .fsm-36 {
    font-size: 36px !important;
  }
  .fsm-37 {
    font-size: 37px !important;
  }
  .fsm-38 {
    font-size: 38px !important;
  }
  .fsm-39 {
    font-size: 39px !important;
  }
  .fsm-40 {
    font-size: 40px !important;
  }
  .fsm-41 {
    font-size: 41px !important;
  }
  .fsm-42 {
    font-size: 42px !important;
  }
  .fsm-43 {
    font-size: 43px !important;
  }
  .fsm-44 {
    font-size: 44px !important;
  }
  .fsm-45 {
    font-size: 45px !important;
  }
  .fsm-46 {
    font-size: 46px !important;
  }
  .fsm-47 {
    font-size: 47px !important;
  }
  .fsm-48 {
    font-size: 48px !important;
  }
  .fsm-49 {
    font-size: 49px !important;
  }
  .fsm-50 {
    font-size: 50px !important;
  }
  .fsm-51 {
    font-size: 51px !important;
  }
  .fsm-52 {
    font-size: 52px !important;
  }
  .fsm-53 {
    font-size: 53px !important;
  }
  .fsm-54 {
    font-size: 54px !important;
  }
  .fsm-55 {
    font-size: 55px !important;
  }
  .fsm-56 {
    font-size: 56px !important;
  }
  .fsm-57 {
    font-size: 57px !important;
  }
  .fsm-58 {
    font-size: 58px !important;
  }
  .fsm-59 {
    font-size: 59px !important;
  }
  .fsm-60 {
    font-size: 60px !important;
  }
  .fsm-61 {
    font-size: 61px !important;
  }
  .fsm-62 {
    font-size: 62px !important;
  }
  .fsm-63 {
    font-size: 63px !important;
  }
  .fsm-64 {
    font-size: 64px !important;
  }
  .fsm-65 {
    font-size: 65px !important;
  }
  .fsm-66 {
    font-size: 66px !important;
  }
  .fsm-67 {
    font-size: 67px !important;
  }
  .fsm-68 {
    font-size: 68px !important;
  }
  .fsm-69 {
    font-size: 69px !important;
  }
  .fsm-70 {
    font-size: 70px !important;
  }
  .fsm-71 {
    font-size: 71px !important;
  }
  .fsm-72 {
    font-size: 72px !important;
  }
  .fsm-73 {
    font-size: 73px !important;
  }
  .fsm-74 {
    font-size: 74px !important;
  }
  .fsm-75 {
    font-size: 75px !important;
  }
  .fsm-76 {
    font-size: 76px !important;
  }
  .fsm-77 {
    font-size: 77px !important;
  }
  .fsm-78 {
    font-size: 78px !important;
  }
  .fsm-79 {
    font-size: 79px !important;
  }
  .fsm-80 {
    font-size: 80px !important;
  }
  .fsm-81 {
    font-size: 81px !important;
  }
  .fsm-82 {
    font-size: 82px !important;
  }
  .fsm-83 {
    font-size: 83px !important;
  }
  .fsm-84 {
    font-size: 84px !important;
  }
  .fsm-85 {
    font-size: 85px !important;
  }
  .fsm-86 {
    font-size: 86px !important;
  }
  .fsm-87 {
    font-size: 87px !important;
  }
  .fsm-88 {
    font-size: 88px !important;
  }
  .fsm-89 {
    font-size: 89px !important;
  }
  .fsm-90 {
    font-size: 90px !important;
  }
  .fsm-91 {
    font-size: 91px !important;
  }
  .fsm-92 {
    font-size: 92px !important;
  }
  .fsm-93 {
    font-size: 93px !important;
  }
  .fsm-94 {
    font-size: 94px !important;
  }
  .fsm-95 {
    font-size: 95px !important;
  }
  .fsm-96 {
    font-size: 96px !important;
  }
  .fsm-97 {
    font-size: 97px !important;
  }
  .fsm-98 {
    font-size: 98px !important;
  }
  .fsm-99 {
    font-size: 99px !important;
  }
  .fsm-100 {
    font-size: 100px !important;
  }
}
